<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="../js/vue.js"></script>
    <title>Document</title>
</head>

<body>

    <div id="root">
        姓<input type="text" v-model="firstName"><br>
        名<input type="text" v-model="lastName"><br>
        全名：<span>{{fullName}}</span>
    </div>
</body>
<script>
    const vm = new Vue({
        el: '#root',
        data: {
            firstName: '张',
            lastName: '三'
        },
        computed: {
            //完整形式：
            // fullName: {
            //     get() {
            //         console.log('get被调用了！')
            //         return this.firstName + '-' + this.lastName
            //     },
            //     set(value) {
            //         console.log('set', value)
            //         const arr = value.split('-')
            //         this.firstName = arr[0]
            //         this.lastName = arr[1]
            //     }
            // }
            //简写形式：(只考虑读取不考虑修改的时候才能用简写)
            fullName(){
                console.log('get被调用了！')
                return this.firstName + '-' + this.lastName
            }
        }
    })
</script>

</html>